.logomaker {
    margin-bottom: $mg-4;
    .logomaker__content {
        background-color: $color-blue-1;
        color: $color-white-0;
        display: flex;
        flex-direction: column;
        position: relative;
        .logomaker__desc {
            padding: 48px 24px;
            z-index: 5;
            .text--logomaker1 {
                @include textLogomaker1($fs-4 + 1, $fw-3, $pd-2 + 2);
                display: flex;
                align-items: center;
                .text--logomaker2 {
                    @include textLogomaker2($fw-1, $mg-0);
                }
                .text--upper {
                    @include textUpper(
                        ($fs-0)-4,
                        $fw-3,
                        $line-height-0,
                        $color-blue-1,
                        ($pd-0)-7,
                        ($pd-0)-39,
                        ($pd-0)-8,
                        $br-999
                    );
                }
            }
            h2 {
                @include textStyle(null, $fs-7, $fw-3);
                margin-bottom: $mg-0 + 3;
                line-height: $line-height-7;
            }
        }

        .logomaker__img {
            display: none;
        }
        .logomaker__img__852 {
            display: none;
        }
        .logomaker__img__552 {
            width: 100%;
            height: 100%;
            margin-top: -48%;
        }
    }
}

@include responsive("sm") {
    .logomaker {
        margin-bottom: $mg-7;
        .logomaker__content {
            .logomaker__img__852 {
                display: block;
                width: 100%;
                height: 100%;
                margin-top: -30%;
            }
            .logomaker__img__552 {
                display: none;
            }
        }
    }
}
@include responsive("md") {
    .logomaker {
        .logomaker__content {
            .logomaker__img__852 {
                display: none;
            }
            .logomaker__img {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                    
                }
            }
        }
    }
}
@include responsive("lg") {
    .logomaker {
        .logomaker__content {
            .logomaker__desc {
                padding: $pd-2+6 0 $pd-2+6 $pd-6+2;
            }
        }
    }
}
