.header__wrapper {
    height: 70px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        
        .header__left{
                max-width: 28px;
                margin-right:  $mg-1;
                padding: 0;
            .header__nav__responsive{
                width: 100%;
                i{
                    font-size: $fs-4+4;
                    color: $color-gray-0;
                }
            }
            
        }
        .header__mid {
            display: flex;
            justify-content: center;
            .header__logo {
                #fiverr_logo_nav {
                    fill: $color-black-2;
                }
            }
            .header__search__form{
                display: none;
            }
            
        }
        .header__right {
            display: flex;
            justify-content: flex-end;
            .navbar {
                padding: 0;
            }
            .navbar-nav {
                .go--to--business,
                .resources--tab,
                .header--start--selling,
                .header--login {
                    display: none;
                }
                li {
                    display: flex;
                    align-items: center;
                    padding: 0 $pd-0;

                    .nav-link {
                        @include textStyle($color-white-0, $fs-1, $fw-2);
                        padding: 0;
                        white-space: nowrap;
                    }
                    .dropdown-toggle {
                        &::after {
                            display: none;
                        }
                    }
                    .dropdown-menu {
                        min-width: 224px;
                        right: 0;
                        left: auto;
                    }
                    .header__join {
                        @include textStyle($color-gray-0, $fs-1, $fw-3);
                        padding: ($pd-0)-3 0;
                        line-height: $line-height-0;
                   
                    }
                }
                .locale--settings {
                    display: none;
                }
            }
        }
    }
}

.header__categories {
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    display: flex;
    opacity: 0;
    transform: rotateX(90deg);
    background-color: $color-white-0;
    border-bottom: 1px solid $color-white-6;

    .header__categories__menu {
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            a {
                color: $color-gray-1;
                text-decoration: none;
            }
        }
    }
}

// Responsive

   

@include responsive("sm") {
    .header__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        height: 80px;
        .header{
            .header__left{
                .header__nav__responsive{
                    i{ 
                        color: $color-white-0;
                    }
                }
            }
            .header__mid{
                justify-content: flex-start;
                .header__logo {
                    #fiverr_logo_nav {
                        fill: $color-white-0;
                    }
                }
                
               
            }
           
            .header__right{
                .navbar{
                    .navbar-nav{
                        .header--login {
                            display: flex;
                        }
                        li{
                            .header__join {
                                @include textStyle($color-white-0, $fs-0, $fw-3);
                                border: 1px solid $color-white-0;
                                padding: ($pd-0)-3 $pd-1;
                                line-height: $line-height-0;
                                border-radius: ($br-1)-1;
                                transition: 0.2s;
                                &:hover {
                                    color: $color-white-0;
                                    background-color: $color-green-0;
                                    border: 1px solid $color-green-0;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        
    }

    .stickyHeader {
        background: $color-white-0 !important;
        border-bottom: 1px solid $color-white-2;
        -webkit-transition: ease 0.5s;
        transition: ease 0.5s;
        z-index: 9999;
        
        .header__left{
            .header__nav__responsive{
                i{ 
                    color: $color-gray-0 !important;
                }
            }
        }
        .header__mid {
            display: flex;
            justify-content: space-between;
            .header__logo {
                #fiverr_logo_nav {
                    fill: $color-black-2 !important;
                }
            }
            
            .header__search__form{
               display: flex !important;
                 margin: 0 auto;
                 padding-left: $pd-0;
                width: 60%;
                .input-group {
                    .form-control {
                        font-size: $fs-1;
                        height: 34px;
                        padding: 0;
                        border-left: none;
                        border-color: #ddd;
                        background-clip: unset;
                        &::placeholder {
                            color: $color-gray-2;
                        }
                        &:focus {
                            box-shadow: none;
                            color: $color-gray-2;
                        }
                    }
                    .input-group-prepend {
                        .input-group-text {
                            color: $color-gray-2;
                            background-color: $color-white-0;
                            border-color: #ddd;
                            border-right: none;
                        }
                    }
                    button{
                        display: none;
                    }
    
                   
                }
            }
            
        }
        
        .header__right {
            .navbar-nav {
               
                .nav-link {
                    color: $color-gray-0 !important;
                    .icon--globe {
                        fill: $color-gray-0;
                    }
                }
                .header__join {
                    border: 1px solid $color-green-0 !important;
                    color: $color-green-0 !important;
                    &:hover {
                        color: $color-white-0 !important;
                    }
                }
            }
        }
    }
}
@media (min-width: 6px){
    
}
@media (min-width: 768px){
    .col-md {
        flex-grow: 0;
    }
    .stickyHeader{
        .header__mid{
            .header__search__form{
                width: 100%;
            }
        }
        
    }
    
}


@include responsive("md") {
    .go--to--business,
    .resources--tab,
    .header--start--selling {
        display: flex !important;
    }
}

@include responsive("lg") {
    .header__wrapper {
        .header {
            .header__left{
                display: none;
            }
            .header__right {
                .navbar-nav {
                    .locale--settings {
                        display: flex;
                    }
                }
            }
        }
        .stickyHeader {
            
            button {
                display: flex !important;
                padding: ($pd-0)-2 $pd-0+6 !important;
                font-size: 14px;
                border-radius: 0 3px 3px 0;
            }
        }
    }

    .stickyHeaderCategories,
    #header__categories {
        opacity: 1 !important;
        transition: transform 0.2s;
        transform: rotateX(0deg) !important;
    }


}
